<footer class="footer">
  <small>
    The <a href="http://www.twitter.com/">Twitter</a> Clone App by <a href="http://linkedin.com/pub/justin-lee/78/590/1b6">Justin Lee</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://linkedin.com/pub/justin-lee/78/590/1b6">Justin</a></li>
    </ul>
  </nav>
</footer>